body{
    margin:0;
    padding: 0;
}

/*There are two things css gradiant generator*/

/*second css clip path maker */

.container{
    background-color: skyblue;
    height: 300px;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,184,218,1) 0%, rgba(255,0,53,1) 100%, rgba(223,197,203,1) 131%);
    clip-path: polygon(50% 0%, 100% 0, 100% 76%, 0 100%, 0 0);

}

.topbar{
    padding: 25px 25px 0 25px; /*top right bottom left*/

}

.topbar, .banner{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu >ul >li {
    display: inline;
    padding-left : 25px;
    font-family: 'Indie Flower', cursive;
    
    padding: 5px;
    margin-left: 100px;
}

.menu>ul>li>a{
     padding-left : 25px;
     text-decoration: none;
    color:white ;
}

.menu>ul>li a:hover{
    padding : 5px;
    border:1px solid white;
}


.typo{
    padding-left:25px;
    
}

.land{
    font-family: 'Indie Flower', cursive;
}
.page{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.image{
    margin: 25px;
}